template(name="breadcrumbAddHost")
  li(class="crumb") Establishments
  li(class="crumb") Add
  li(class="crumb active") Host
  
template(name="contentIndicationsAddHost")
  | To add a new host organization please fill the form below.
  | Note that unless mentioned, all fields are required.
  
template(name="contentAddHost")
  div(class="content_form")
    form(name="addHostForm")
      {{> organizationName }}
      {{> trustList }}
      {{> themetypesCloud }}
      {{> inputAddress }}
      {{> inputPhone }}
      {{> textareaAdditionalInformation }}
      div(class="row")
        unless adding  
          button(type="submit")
            i(class="fa fa-plus" aria-hidden='true')
            | Add a new host organization
        else
          div(class="column center")
            p
              i(class="fa fa-spinner fa-spin fa-2x" aria-hidden="true")
              | We're adding this new host organization, please wait...
            
