template(name="cohortInputs")
  div(class="row")
    div(class="column")
      label(for="cohort")
        i(class="fa fa-calendar-o" aria-hidden="true")
        | Cohort year
      input(type="date" placeholder="e.g: 2020" class="ui dropdown datetimepicker"  name="cohort" class="required" required)
