template(name="inputPassword")
  div(class="row")
    div(class="column")
      label(for="password")
        i(class="fa fa-key fa-fw" aria-hidden="true")
        | Password
      input(type="password" placeholder="password"  name="password" aria-labelledby="password" required)
