template(name="inputPhone")
  div(class="row")
    div(class="column")
      label(for="phone")
        i(class="fa fa-phone" aria-hidden="true")
        | Phone number (international format)
      input(type="tel" class="phone required" aria-labelledby="phone number" name="phone" required) 
