template(name="inputBirthday")
  div(class="row")
    div(class="column")
      label(for="birthdayDate")
        i(class="fa fa-birthday-cake" aria-hidden="true")
        | Birthday date (MM/DD/YYYY)
      input(type="date" placeholder="e.g: 12/31/1996" class="ui dropdown datetimepicker"  name="birthdayDate" class="required" required)
