template(name="inputKey")
  div(class="row")
    div(class="column")
      label(for="key")
        i(class="fa fa-key fa-fw" aria-hidden="true")
        | Register key
      input(type="password" placeholder="key"  name="key" aria-labelledby="key" required)
