template(name="inputEmail")
  div(class="row")
    div(class="column")
      label(for="email")
        i(class="fa fa-envelope-o fa-fw" aria-hidden="true")
        | E-mail
      input(type="email" name="email" placeholder="e.g: john.doe@mail.co.uk" aria-labelledby="e-mail address" required)
