template(name="inputPasswordConfirm")
  div(class="row")
    div(class="column")
      label(for="password")
        i(class="fa fa-check fa-fw" aria-hidden="true")
        | Password (again)
      input(type="password" placeholder="The same goes here" aria-labelledby="new password again" name="passwordagain" required)
