template(name="organizationName")
  div(class="row")
    div(class="column")
      label(for="organizationName")
        i(class="fa fa-info" aria-hidden="true")
        | Organization name
      input(type="text" placeholder="e.g:  St Mungo's Hospital" name="organizationName" aria-labelledby="organization's name" required)
