template(name="provisionCheckboxes")
  div(class="row")
    div(class="column")
      label Is provided...
      div(class="row")
        div(class="column")
          span
            input(type="checkbox" name="accommodationProvided" )
            | Accommodation
        div(class="column")
          span
            input(type="checkbox" name="carProvided" )
            | Car
