template(name="requiredCheckboxes")
  div(class="row")
    div(class="column")
      label Student requires...
      div(class="row")
        div(class="column")
          span
            input(type="checkbox" name="accommodationRequired" )
            | Accommodation
        div(class="column")
          span
            input(type="checkbox" name="carRequired" )
            | Car
