template(name="textareaAdditionalInformation")
  div(class="row")
    div(class="column")
      label(for='additionalInfo')
        i(class="fa fa-ellipsis-h" aria-hidden="true")
        | Additional information
      textarea(placeholder="e.g: Description, accessibility"  name="additionalInfo" aria-labelledby="additional information") 
