template(name="themetypeInputs")
  div(class="row")
    div(class="column")
      label(for="themetypeName")
        i(class="fa fa-user" aria-hidden="true")
        | Themetype name
      input(type="text" placeholder="e.g: " name="themetypeName" class="required" required)
  div(class="row")
    div(class="column")
      label(for="themetypeCode") Themetype code
      input(type="text" placeholder="e.g: " name="themetypeCode" class="required" required)
