template(name="themeInputs")
  div(class="row")
    div(class="column")
      label(for="themeName")
        i(class="fa fa-user" aria-hidden="true")
        | Theme name
      input(type="text" placeholder="e.g: " name="themeName" class="required" required)
