template(name="addThemetype")
  form
    {{> themetypeInputs }}
    div(class="row")
      unless adding
        button(type="submit")
          i(class="fa fa-plus" aria-hidden='true')
          | Add a new themetype
      else
        div(class="column center")
          i(class="fa fa-spin fa-refresh fa-2x")
          p We're adding this new themetype, please wait...
      
