template(name="addThemetype")
  form
    {{> cohortInputs }}
    div(class="row")
      unless adding
        button(type="submit")
          i(class="fa fa-plus" aria-hidden='true')
          | Add a new cohort
      else
        div(class="column center")
          i(class="fa fa-spin fa-refresh fa-2x")
          p We're adding this new cohort, please wait...
      
