template(name="pageLogin")
  div(class="login")
    {{> loginForm}}
/////////////////////////////////////////////////////////////    
/////////////////////////////////////////////////////////////    
template(name="loginTitle")
  | Login
/////////////////////////////////////////////////////////////    
/////////////////////////////////////////////////////////////    
template(name="loginDescription")
  | To start using Place Me, please sign in.
      
