template(name="pageResetPassword")
  div(class="resetPassword")
    {{> resetPasswordForm}}
/////////////////////////////////////////////////////////////    
/////////////////////////////////////////////////////////////    
template(name="resetPasswordTitle")
  | Reset your password
/////////////////////////////////////////////////////////////    
/////////////////////////////////////////////////////////////    
template(name="resetPasswordDescription")
  | Type your new password below.
      
