template(name="resetPasswordForm")
  form(name="resetPasswordForm")
    {{> inputPassword }}
    {{> inputPasswordConfirm }}
    div(class="row")
      unless changing
        button(type="submit" aria-labelledby="change password button")
          i(class="fa fa-refresh" aria-hidden="true")
          | Change my password
      else
        div(class="column center")
          i(class="fa fa-spin fa-refresh fa-2x")
          p We're changing your password, please wait...
      
