template(name="user")
  span(class="column") {{ profile.firstName }} {{ profile.lastName }}
  span(class="column") {{ status }}
  span(class="column") {{ email }}
  span(class="column") {{ profile.phone }}
