//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
template(name="breadcrumbAddVisit")
  li(class="crumb") Visits
  li(class="crumb active") Add a new visit
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
template(name="contentIndicationsAddVisit")
  | To add a new visit please fill the form below.
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////  
template(name="contentAddVisits")
  div(class="content_form")
    form(name="visitForm")
      {{> inputDateTime }}
      div(class="row")
        if selectedPlacement
          unless adding  
            if definedPlacement
              button(type="submit")
                i(class="fa fa-plus" aria-hidden='true')
                | Add a new visit
          else
            div(class="column center")
              p
                i(class="fa fa-spinner fa-spin fa-2x" aria-hidden="true")
                | We're adding this new visit, please wait...
        p
          i You have to select a placement.
/
