template(name="carFilter")
  div(class="column")
    label(for="car")
      i(class="fa fa-car " aria-hidden="true")
      | Car
    select( aria-labelledby="car" name="car" )
      option(selected value="all") All 
      option(value="true") Provided
      option(value="false") Not provided
