template(name="establishmentFilter")
  ul(class="filter-list")
    li(class="filter")
      button(class="filter_content filter_type selected" type="button" value="all") All
    li(class="filter" )
      button(class="filter_content filter_type" type="button" value="trustOrganization") Trust
    li(class="filter")
      button(class="filter_content filter_type" type="button" value="hostOrganization") Host
