template(name="programmeFilter")
  div(class="column")
    label(for="programme")
      i(class="fa fa-certificate " aria-hidden="true")
      | Programme
    select( aria-labelledby="programme" name="programme" required)
      option(selected value="student") All programmes
      each programme
        option(value= "{{ _id }}") {{ programmeName }}
