template(name="usersStatusFilter")
  ul(class="filter-list")
    li(class="filter")
      button(class="filter_content filter_status selected" type="button" value="registered") All
    li(class="filter" )
      button(class="filter_content filter_status" type="button" value="student") Students
    li(class="filter")
      button(class="filter_content filter_status" type="button" value="tutor") Tutors
    li(class="filter" )
      button(class="filter_content filter_status" type="button" value="coordinator") Coordinators
    li(class="filter")
      button(class="filter_content filter_status" type="button" value="educator") Educators
