//////////////////////////////////////////////////////
//////// BADGE
/////////////////////////////////////////////////////
.badge{
  margin:auto;
  text-align:center;
  background:$primary-purple;
  height:auto;
  min-width:35px;
  font-weight:700;
  font-size:12px;
  border-radius:2px;
}
