//////////////////////////////////////////////////////
//////// Colors
/////////////////////////////////////////////////////
$darkest-green:  rgb(20,145,100) ;
$darker-green: rgb(67,198,113);
$primary-green: rgb(77,225,130);
$lighter-green: rgb(6, 229, 118);
$lightest-green: rgb(97,245,150);

$darkest-purple: rgb(60,60,80);
$darker-purple: rgb(80,69,99);
$primary-purple: rgb(110,59,210);
$lighter-purple: rgb(152,121,244);
$lightest-purple: rgb(180,180,255);

$darkest-grey: rgb(120,120,140);
$primary-grey: rgb(180,180,200);
$lighter-grey: rgb(210,210,230);
$lightest-grey:rgb(232,233,248);

$darkest-white: rgb(170,190,245);
$darker-white: rgb(220,223,245);
$primary-white: rgb(230,233,240);
$lighter-white:rgb(240,243,250);
$lightest-white: rgb(254,254,254);

$darker-steel: rgb(120,120,150);
$primary-steel: rgb(125,135,155);
$lighter-steel: rgb(160,160,180);
$lightest-steel: rgb(210,220,235);
