template(name="establishmentsList")
  ul(class="list_result")
    +EasySearch.Each index=index
      a(href="/app/establishments/{{_id}}" title="See the establishment details")
        li(class="list_result-item")
          div(class="result")
            div(class="row row_main")
              span(class="column") {{ name }}
              span(class="column") {{ type }}
              span(class="column") {{ phone }}
              span(class="column") {{ address.formattedAddress }} 
        div(class="row row_aside") 
          if isInRole "tutor"
            button(value="{{__originalId}}" title="delete user" type="button" class="column result_button" name="delete")
              span
                span(class="icon iconAction-delete")
                | Delete
  {{ > EasySearch.LoadMore index=index attributes=buttonAttributes }}
