template(name="addEstablisments")
  ul(class="list_type")
    h3(class="list_type-title _title-icon _title-iconAdd") Add...
    a(href="{{ pathFor 'add-trust' }}" title="Add a new trust establishment")
      li(class="list_type-item")
        button(class="_type-item-button iconOpen") Trust
    a(href="{{ pathFor 'add-host' }}" title="Add a new host establishment")
      li(class="list_type-item")
        button(class="_type-item-button iconOpen") Host
