template(name="inputDates")
  div(class="row")
    div(class="column datetimepicker")
      label(for="startdate")
        i(class="fa fa-calendar" aria-hidden="true")
        | Start date (MM/DD/YYYY)
      input(type="text" placeholder="e.g: 10/31/2016" class="ui dropdown datetimepicker" name="startdate"  required)
    div(class="column")
      label(for="enddate") End date (MM/DD/YYYY)
      input(type="text" placeholder="e.g: 12/31/2016" class="ui dropdown datetimepicker" name="enddate"  required)
