template(name="inputDateTime")
  div(class="row")
    div(class="column datetimepicker")
      label(for="datetime")
        i(class="fa fa-calendar" aria-hidden="true")
        | Date and time (MM/DD/YYYY hh:mm)
      input(type="text" placeholder="e.g: 12/31/2016 12:04" class="ui dropdown datetimepicker" name="dateTime"   required)
