template(name="pageRegister")
  div(class="ribbon")
    div(class="register")
      {{> registerForm}}
/////////////////////////////////////////////////////////////    
/////////////////////////////////////////////////////////////    
template(name="registerTitle")
  | Register
/////////////////////////////////////////////////////////////    
/////////////////////////////////////////////////////////////    
template(name="registerDescription")
  | To start using Place Me, please register.
    
