template(name="appHeader")
  div(class="row row_logo")
    div(class="column column_iconAction column_iconAction-menu")         
      button(type="button" class="column_button") Menu
        div(class="icon showIcon")
    div(class="column column_logo")
      span(class="logo")
        i(class="fa  fa-map-marker" aria-hidden="true")
    div(class="column column_iconAction column_iconAction-toolbar")
      button(type="button" class="column_button") Toolbar
        div(class="icon hideIcon")
  aside(class="row row_toolbar row_toolbar-largeScreen")
    {{> appToolbar }}
  aside(class="row row_toolbar row_toolbar-mobile")
    {{> appToolbar }}
