template(name="menu")
  nav(class="column column_nav-vertical nav-vertical")
    div(class="row")
      a(href="/app/profile/{{ currentUser._id }}" title="Go to my profile" class="column")
        button(type="button" class="column column_iconAction column_iconAction-profile")
          div(class="icon")
          div(class="column_button") Profile
      a(href="{{ pathFor 'placements' }}" title="Go to placements" class="column")
        button(type="button" class="column column_iconAction column_iconAction-placements")
          div(class="icon")
          div(class="column_button")
            span Placements 
            div(class="badge") new
      if isInRole 'tutor' 
        a(href="{{ pathFor 'visits' }}" title="Go to visits" class="column")
          button(type="button" class="column column_iconAction column_iconAction-visits")
            div(class="icon")
            div(class="column_button")
              span Visits 
              div(class="badge") 5
      a(href="{{ pathFor 'offers' }}" title="Go to offers" class="column")
        button(type="button" class="column column_iconAction column_iconAction-offers")
          div(class="icon")
          div(class="column_button")
            span Offers 
            div(class="badge") 25
      a(href="{{ pathFor 'users' }}" title="Go to my users" class="column")
        button(type="button" class="column column_iconAction column_iconAction-users")
          div(class="icon")
          div(class="column_button") Users
      a(href="{{ pathFor 'establishments' }}" title="Go to establishments" class="column")
        button(type="button" class="column column_iconAction column_iconAction-establishments")
          div(class="icon")
          div(class="column_button") Establishments
      a(href="{{ pathFor 'docs' }}" title="Go to shared documents" class="column")
        button(type="button" class="column column_iconAction column_iconAction-docs")
          div(class="icon")
          div(class="column_button")
            span Shared docs 
            div(class="badge") new
      if isInRole 'tutor' 
        a(href="{{ pathFor 'activity' }}" title="Go to login activity" class="column")
          button(type="button" class="column column_iconAction column_iconAction-activity")
            div(class="icon")
            div(class="column_button") Activity         
        a(href="{{ pathFor 'database' }}" title="Go to database" class="column")
          button(type="button" class="column column_iconAction column_iconAction-database")
            div(class="icon")
            div(class="column_button") Database            
