template(name="cohortList")
  div(class="column")
    label(for="cohort")
      i(class="fa fa-graduation-cap " aria-hidden="true")
      | Cohort
    select( aria-labelledby="cohort" name="cohort" required)
      option(disabled selected value) -- Select a cohort --
      each cohort
        option(value="{{ _id }}") {{ cohortYear }}
