template(name="pagePasswordForgotten")
  div(class="passwordForgotten")
    {{> passwordForgottenForm}}
/////////////////////////////////////////////////////////////    
/////////////////////////////////////////////////////////////    
template(name="passwordForgottenTitle")
  | Password forgotten
/////////////////////////////////////////////////////////////    
/////////////////////////////////////////////////////////////    
template(name="passwordForgottenDescription")
  | Submit the e-mail address you used when you registered.
  | We will send you a link to reset your password.
      
