template(name="passwordForgottenForm")
  if verifiedEmail
    div
      h3 E-mail sent!
      p We just sent you an e-mail at the address you submitted.
      p If you can't find that e-mail, 
        b check your spams or 
          a(href="{{pathFor route='recover-password'}}" title="try again" name="tryAgainLink") try again.
      p The reset e-mail contains a link.
        b You must click that link to reset your password.
      br
      p(class="center")
        a(href="{{pathFor route='login'}}" title="Go back home") Go back to login page
  else
    form(name="passwordForgottenForm")
      {{> inputEmail }}
      div(class="row")
        div(class="column")
          label(for="status")
            i(class="fa  fa-cog  fa-fw" aria-hidden="true")
            | Confirm you're not a robot below
          {{> reCAPTCHA}}
      div(class="row")
        unless processing
          button(type="submit" aria-labelledby="submit button")
            i(class="fa fa-send" aria-hidden="true")
            | Send 
        else
          div(class="column center")
            i(class="fa fa-spin fa-refresh fa-2x")
            p We're sending you an e-mail, please wait...
