template(name="breadcrumbAddEducator")
  li(class="crumb") Users
  li(class="crumb") Add
  li(class="crumb active") Educator
  
template(name="contentIndicationsAddEducator")
  h2 Add a new educator
  p To add a new educator please fill the form below.
  p Note that unless mentioned, all fields are required.

template(name="contentAddEducator")
  +contentFor("floatingButtons")
    if isInRole "tutor"
      button(class="floating-button" type="button" name="quickAddHost" title="Add a host establishment...")
        i( class="fa fa-building-o " aria-hidden="true")
        i(class="fa fa-plus fa-small" aria-hidden="true")
  +contentFor("sidebar")
    if isInRole "tutor"
      if quickAddHost
        h2 Add a new host organization
        form(id="quickAddHost" name="sidebarForm")
          {{> organizationName }}
          {{> trustList }}
          {{> themetypesCloud }}
          {{> inputAddress }}
          {{> inputPhone }}
          {{> textareaAdditionalInformation }}
          div(class="row")
            unless adding  
              button(type="submit")
                i(class="fa fa-plus" aria-hidden='true')
                | Add a new host organization
            else
              div(class="column center")
                p
                  i(class="fa fa-spinner fa-spin fa-2x" aria-hidden="true")
                  | We're adding this new host organization, please wait...
  {{> yield "contentIndications" }}    
  div(class="content_form")
    form(name="addEducatorForm")
      {{> inputPersonalData }}
      {{> inputEmail }}
      {{> inputPhone }}
      {{> hostList }}
      div(class="row")
        unless adding
          button(type="submit")
            i(class="fa fa-user-plus" aria-hidden='true')
            | Add a new educator
        else
          div(class="column center")
            p
              i(class="fa fa-spinner fa-spin fa-2x" aria-hidden="true")
              | We're adding this new educator, please wait...
