template(name="breadcrumbAddEducator")
  li(class="crumb") Users
  li(class="crumb") Add
  li(class="crumb active") Educator
  
template(name="contentIndicationsAddEducator")
  | To add a new educator please fill the form below.
  | Note that unless mentioned, all fields are required.

template(name="contentAddEducator")
  +contentFor("floatingButtons")
    button(class="floating-button" type="button" title="Add an educator...")
      i( class="fa fa-building-o " aria-hidden="true")
      i(class="fa fa-plus fa-small" aria-hidden="true")
      
  div(class="content_form")
    form(name="addEducatorForm")
      {{> inputPersonalData }}
      {{> inputEmail }}
      {{> inputPhone }}
      {{> hostList }}
      div(class="row")
        unless adding
          button(type="submit")
            i(class="fa fa-user-plus" aria-hidden='true')
            | Add a new educator
        else
          div(class="column center")
            p
              i(class="fa fa-spinner fa-spin fa-2x" aria-hidden="true")
              | We're adding this new educator, please wait...
